@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
 
@import 'variables.scss';

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
     background-color: $whitebg;
	 font-family: 'Rubik',sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    
    margin:0 40px;
    margin-top: 120px;
}
.box{
    height: 180px;
    width: 180px;
    margin-right: 40px;
    margin-bottom: 60px;
    background-color: #FFFFFF ;
    border-radius: $borderrad;
    position: relative;
    box-shadow: 0 4px 4px rgba(0,0,0,0.05);
}
.parts{
    margin: 0 8px 0 8px;
    height: 40px;
    border-radius: $borderrad;
	
}
.part1{
     font-weight: 600;
     background-color: #f17d7d;
     font-style: normal;
     font-size: 20px;
     color: white;
     @include flexcenter;
     margin-top: 20px;
     margin-bottom: 10px;
}
.part2{
    padding: 8px 12px;
    font-weight: 200;
    background-color: rgba(255, 230, 0, 0.97);
    font-style: normal;
    font-size: 10px;
    
    
    
}
.part3{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 10px;
	line-height: 12px;
    @include flexcenter;
    background-color: #46eec6;

}
.box10{
    flex-grow: 1;
}
.box10 .part2{
    display: flex;
    align-items: center;
}
div{
    display: block;
}

.box:nth-child(odd) .part2{
     padding: 14px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.adj-line {
	content: '';
	border: $border;
	width: 40px;
	position: absolute;
	top: 90px;
	right: -40px;
	border-left: none;
	border-bottom: none;
	border-right: none;
}
.rightline{
    content: '';
    border: $border;
    width: 20px;
    height: 120px;
    position: absolute;
    border-left: none;
	border-bottom: none;
    top: 90px;
    left: 180px;
}
.leftline{
    position: absolute;
	width: 20px;
	height: 120px;
	border: $border;
	border-right: none;
	border-top: none;
	top: -29px;
	left: -20px;
}
.lineconnection {
	position: absolute;
	width: 880px;
	border: $border;
	border-left: none;
	border-right: none;
	border-bottom: none;
	top: 210px;
	right: -20px;
	z-index: 2;
}
.circle::after{
    content: '';
    background: linear-gradient(180deg, rgba(248, 178, 62, 0.984844) 0%, rgba(255, 230, 0, 0.97) 100%);
    position: absolute;
    top: 80px;
    right: -60px;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}
